 * {
    margin: 0;
    padding: 0;
    background-color: #2e2d2d;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2e2d2d;
    text-align: center;
    color: aliceblue;
}

.app {
    background: #2d2d2d;
    width: 80%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 25px;
    color: aliceblue;
    font-weight: 600;
    border-bottom: 1px solid #bd2121;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: rgb(227, 77, 17);
    font-weight: 500;
}

.btn {
    background-color: whitesmoke;
    color: rgb(224, 53, 61);
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover {
    background-color: #222;
    color: #fff;
}

#next-btn {
    background-color: #fff;
    color: #222;
    background-color: rgb(193, 184, 184);
    color: #bd2121;
    font-weight: 500;
    width: 25%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.next-btn:hover {
    background-color: #222;
    color: #fff;
}