 * {
    margin: 0;
    padding: 0;
    background-color: #2e2d2d;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2e2d2d;
    text-align: center;
    color: aliceblue;
}

.app {
    background: #2d2d2d;
    width: 80%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 28px;
    color: aliceblue;
    font-weight: 600;
    border-bottom: 1px solid #bd2121;
}

/* quiz needed to be an id */
#quiz {
    padding: 20px 0;
    display: none;
}

.quiz h2 {
    font-size: 22px;
    color: rgb(221, 178, 25);
    font-weight: 500;
}

p {
    margin: 10px;
}

#start-btn {
    background-color: rgb(221, 178, 25);
    color: #bd2121;
    font-weight: 500;
    width: 150px;
    border: 1px solid #222;
    padding: 10px;
    margin: 20px auto 20px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.btn {
    background-color: whitesmoke;
    color: rgb(224, 53, 61);
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}
/* disable feature not used yet */
.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background-color: rgb(221, 178, 25);
    color: #bd2121;
    font-weight: 500;
    width: 150px;
    border: 1px solid #222;
    padding: 10px;
/* missinng auto in margin affected disply:block */
    margin: 10px auto 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}

#submit h3 {
    font-size: 22px;
    color: rgb(221, 178, 25);
    font-weight: 500;
}

form {
    margin: 10px;
}